<h1>Olá handlebars!</h1>
<p>o nome do usuário é {{user.name}} {{user.surname}}</p>

{{#if approved}}
<p>Parabens su cadastro foi aprovado!</p>
{{else}}
<p>Seu cadastro necessita de aprovação!</p>
{{/if}}
{{#if auth}}
    <p>
        Você esta autenticado,<a href="/dashbord">clique aqui!</a>
    </p>
{{/if}}
